*{
    margin: 0px;
    padding: 0px;
    font-family: poppins,sans-serif;
    scroll-behavior: smooth;
}

nav{
    background-color: black;
    height: 30px;
    position: sticky;
    top: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    padding: 15px;
}
ul{
    display: flex;
    list-style: none;
}
li{
    padding: 10px;
    transition: all 1s ease;
}
li:hover{
    color: rgb(0,76,240);
}
nav a{
    text-decoration: none;
    color: white;
}
table,th,td{
    border: 1px solid rgb(207,207,207);
    border-collapse: collapse;
    padding: 5px;
    justify-content: center;
}

#books,#form{
    display: flex;
    flex-direction: column;
    width: 50%;
   /* align-items: center;*/
   margin-top: 30px;
   border-radius: 3px;
   padding: 10px;
   margin-inline: auto;
   box-shadow: 10px 10px 67px 11px rgba(126, 124, 124, 0.75);
-webkit-box-shadow: 10px 10px 67px 11px rgba(126, 124, 124, 0.75);
-moz-box-shadow: 10px 10px 67px 11px rgba(126, 124, 124, 0.75);
}


form{
    margin-top: 10px;
}


input{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0px;
    border: 1px solid rgb(207,207,207);
    border-radius: 3px;
    box-sizing: border-box;
}

input[type="submit"]{
    background-color: black;
    color: white;
}